<div class="row">
  <div class="small-2 columns <%= build.failure? ? 'alert' : 'success' %> label">build #<%= build.id %></div>
  <div class="small-6 columns"><%= build.aasm_state %> [<%= link_to "Details", details_project_build_path(build.project, build) %>]</div>
  <div class="small-4 columns">run <%= time_ago_in_words build.updated_at %> ago</div>
</div>