<div class="row">
  <div class="small-2 columns <%= build.failure? ? 'alert' : 'success' %> label">build #<%= build.id %></div>
  <div class="small-6 columns">
    <% # TODO: add test stats(qty, duration, etc instead of details for build with status - success) %>
    <%= build.aasm_state %>
    <% if build.success? %>
      [duration: <%= build.duration.round(1) %> ms, succeeded: <%= build.succeeded_tests%>, pending: <%= build.pending_tests %>]
    <% elsif build.failure? %>
      [<%= link_to "Details", details_project_build_path(build.project, build) %>]
    <% else %>
      <%= nil %>
    <% end %>
  </div>
  <div class="small-4 columns">run <%= time_ago_in_words build.updated_at %> ago</div>
</div>