<div class="row">
  <div class="small-3 columns"><%= project.name %></div>
  <div class="small-3 columns"><%= project.aasm_state %></div>
  <div class="small-3 columns"><%= link_to "Preferences", preferences_project_path(project) %></div>
  <div class="small-3 columns"><%= link_to "Run", enqueue_project_path(project), :class => "run_project button small", :remote => true %></div>
</div>

<div class="row last_build" style="display:none">
  <div class="small-4 columns label">last build</div>
  <div class="small-4 columns state">running</div>
  <div class="small-4 columns">run <%= time_ago_in_words Time.current %> ago</div>
  <div style="clear:both"></div>
  <div class="radius progress success large-8" style="display: none;"><span class="meter" style="width: 0%;"></span></div>
  </div>
</div>
  
<%= render :partial => "builds/build", collection: project.builds.order('updated_at DESC').limit(5) %>